---
import { siteConfig } from "../../config/site.config"

const { site, socials } = siteConfig

// Icons
import Github from 'simple-icons-astro/Github'
import { FaLinkedin } from "react-icons/fa";
import Mail from '@lucide/astro/icons/mail'
import FolderOpen from '@lucide/astro/icons/folder-open'

const btnSize: number = 20 as const
---

<section class='home-wrapper wrapper' id='home-wrapper'>
  <section class='home-section'>
    <article class='dev-description'>
      <!-- Dev name -->
      <h2
        class='dev-name'
      >
        {site.fullName}
      </h2>
      <!-- Dev role -->
      <h2
        class='dev-job'
      >
        {site.tagline}
      </h2>
      <!-- Dev buttons section -->
      <section class='dev-buttons-section'>
        <!-- Github -->
        <a
          class='dev-btn'
          href={socials.github}
          target="_blank"
          rel="noopener noreferrer"
          title='Github'
        >
          Github <Github class="dev-icon" size={btnSize} />
        </a>
        <!-- LinkedIn -->
        <a
          class='dev-btn'
          href={socials.linkedin}
          target="_blank"
          rel="noopener noreferrer"
          title='LinkedIn'
        >
          LinkedIn <FaLinkedin className='dev-icon' size={btnSize} />
        </a>
        <!-- Email -->
        <a
          class='dev-btn'
          href={`mailto:${site.email}`}
          title='Email'
        >
          Email <Mail class='dev-icon' size={btnSize} />
        </a>
        <!-- Projects -->
        <a
          class='dev-btn'
          href="#portfolio-wrapper"
          title='Projects'
        >
          Projects <FolderOpen class='dev-icon' size={btnSize} />
        </a>
      </section>
    </article>
  </section>
</section>