---
// Icons
import User from "@lucide/astro/icons/user"
import Mail from "@lucide/astro/icons/mail"
import Smartphone from "@lucide/astro/icons/smartphone"
import SquarePen from "@lucide/astro/icons/square-pen"
import MessageSquareText from "@lucide/astro/icons/message-square-text"
import Send from "@lucide/astro/icons/send"
import BrushCleaning from "@lucide/astro/icons/brush-cleaning"

import { siteConfig } from "../../config/site.config"

const { site } = siteConfig

const btnSize: number = 20 as const
const result: string | null = null

const ACCESS_KEY: string = import.meta.env.WEB3_FORMS_ACCESS_KEY
---

<section class="form-wrapper">
  <form id="contact-form" method="POST">
    <fieldset class='contact-fieldset'>
      <legend class='form-legend'>Your query is welcome</legend>
      <!-- Web3Forms settings -->
      <input type="hidden" name="access_key" value={ACCESS_KEY}>
      <input type="hidden" name="from_name" value={site.siteName}>
      <input type="checkbox" name="botcheck" id="" style="display: none;" aria-hidden="true">
      <!-- * FIELDS * -->
      <section class="contact-field first-form-field">
        <!-- Full name -->
        <div class="form-div">
          <label for="fullname-input" class="form-label">
            <User class='form-icon' size={btnSize} /> Full name
          </label>
          <input
            type="text"
            name="fullname"
            id="fullname-input"
            placeholder='Your full name'
            autocomplete='on'
            required
            aria-label='Full Name'
          />
        </div>
        <!-- Email -->
        <div class="form-div">
          <label for="email-input" class="form-label">
            <Mail class='form-icon' size={btnSize} /> Email
          </label>
          <input
            type="email"
            name="email"
            id="email-input"
            placeholder='Your email'
            autocomplete='on'
            required
            aria-label='Email'
          />
        </div>
        <!-- Phone -->
        <div class="form-div">
          <label for="phone-input" class="form-label">
            <Smartphone class='form-icon' size={btnSize} /> Phone <span class='not-necessary-span'>{"(Optional))"}</span>
          </label>
          <input
            type="tel"
            name="phone"
            id="phone-input"
            placeholder='Optionally your phone'
            autocomplete='on'
            aria-label='Phone'
          />
        </div>
        <!-- Subject -->
        <div class="form-div">
          <label for="subject-input" class="form-label">
            <SquarePen class='form-icon' size={btnSize} /> Subject
          </label>
          <input
            type="text"
            name="subject"
            id="subject-input"
            placeholder='Your subject'
            aria-label='Subject'
          />
        </div>
        <!-- Message -->
        <div class="form-div textarea-div">
          <label for="textarea-input" class="form-label">
            <MessageSquareText class='form-icon' size={btnSize} /> Message
          </label>
          <textarea
            name="message"
            id="textarea-input"
            rows={5}
            placeholder='Your message'
            required
            aria-label='Message'
          ></textarea>
        </div>
      </section>
    </fieldset>
    <!-- Form submit result and send/reset buttons -->
    <div class='result-div'>
      <p class='result-msg'>{result}</p>
    </div>

    <!--- Form buttons --->
    <div class="form-buttons-div">
      <button
        class='form-btn send-btn'
        type="submit"
        title="Send button"
        aria-label="Send Form"
      >
        <Send size={btnSize} /> Send
      </button>
      <button
        class='form-btn reset-btn'
        type="reset"
        title="Reset button"
        aria-label="Reset Form"
      >
        <BrushCleaning size={btnSize} /> Reset
      </button>
    </div>
  </form>
  <script src="../../services/contactForm.ts"></script>
</section>